<launch>
  <arg name="use_external_renderer" default="0" />
  <arg name="ignore_collisions" default="false" />
  <arg name="render_stereo" default="0" />

  <group ns="/control_nodes">
    <!-- Start human teleoperation nodes -->
    <node name="quad_racer" pkg="quad_racer" type="quad_racer">
      <remap from="output/rateThrust" to="/uav/input/rateThrust"/>
    </node>
  </group>

  <!--include core flightgoggles launch file-->
  <include file="$(find flightgoggles)/launch/core.launch">
    <arg name="use_external_renderer" value="$(arg use_external_renderer)"/>
    <arg name="render_stereo" value="$(arg render_stereo)"/>
    <arg name="ignore_collisions" value="$(arg ignore_collisions)"/>
  </include>

  <!-- Launch override settings. Must be placed at end of file to override params set in core launchfile. -->

  <!--For teleoperation, run dynamics in real time-->
  <param name="/use_sim_time" value="false" />

</launch>
